.footer-container {
  width: 100vw;
  height: 70px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blackColor;
}

.links-container {
  width: 95vw;
  max-width: 600px;
  height: 30px;
  display: flex;
  justify-content: space-around;
}

.link-container img {
  height: 30px;
  scale: 0.9;
}

.links-container img:hover {
  scale: 1;
  cursor: pointer;
}
