.mainSection-container {
  background-image: url('../assets/mainSection/mainBackground.jpg');
  height: 107vh;
  min-height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $whiteColor;
}

.fade {
  position: absolute;
  left: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    rgba(41, 41, 41, 0),
    rgba(31, 50, 96, 0.9) 30%,
    rgba(31, 50, 96, 0.9) 70%,
    rgba(41, 41, 41, 0) 100%
  );
  height: 40vh;
  min-height: 300px;
}

.mainSection-presentationTextContainer {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.mainSection-presentationTextContainer h3 {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 6vw;
  font-weight: lighter;
  color: $goldColor;
  line-height: 10px;
}

.mainSection-presentationTextContainer h1 {
  font-size: 8vw;
}

.mainSection-presentationTextContainer p {
  font-size: 3.5vw;
  margin-left: 2px;
  font-weight: 300;
  line-height: 10px;
}

.actionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  width: 85vw;
  max-width: 400px;
  height: 50px;
  color: $whiteColor;
  background-color: #121d31;
  border: 3px solid $goldColor;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.6s;
}

.actionButton:hover {
  background-color: $goldColor;
}

#anchorToWhatIdo {
  position: absolute;
  bottom: 0;
}

@media (min-width: 1024px) {
  .mainSection-container {
    min-height: 800px;
  }

  .fade {
    position: absolute;
    left: 0;
    background: linear-gradient(90deg, #14203d 30%, rgba(71, 71, 71, 0));
    width: 80vw;
    height: 107vh;
    min-height: 800px;
  }

  .mainSection-presentationTextContainer {
    width: 90vw;
    display: block;
  }

  .mainSection-presentationTextContainer h3 {
    font-size: 60px;
    line-height: 1px;
  }

  .mainSection-presentationTextContainer h1 {
    font-size: 86px;
  }

  .mainSection-presentationTextContainer p {
    font-size: 36px;
    margin-left: 2px;
    line-height: 0;
  }

  .actionButton {
    font-size: 18px;
    margin-top: 110px;
    position: unset;
    background-color: transparent;
  }
}

@media (min-width: 1280px) {
  .mainSection-container {
    background-position: center left 200px;
  }
  .mainSection-presentationTextContainer {
    width: 1124px;
  }
}
