.navBar-container {
  background-color: $blackColor;
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 999;
}

.navBar-items-container {
  width: 90vw;
  z-index: 999;
  margin: auto;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBar-items-container li a {
  color: $whiteColor;
  text-decoration: none;
  padding: 30px 0;
  font-size: 14px;
  font-weight: 600;
}

.blankSpace {
  display: flex;
  align-items: center;
}

.navBar-container img {
  height: 70%;
  transition: ease all 0.5s;
  transform: scale(0.98);
}

nav.stroke {
  display: flex;
  align-items: center;
}

nav ul li a {
  display: block;
  padding: 5px;
  text-decoration: none;
}

nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 2px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

.navBar-items-container li {
  display: none;
}

.navBar-items-container
  a
  .navBar-items-container
  a:after
  .navBar-items-container
  a:before {
  transition: all 0.5s;
}

.navBar-container img:hover {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1);
}

.navBar-navLinks-container li a {
  color: rgba(255, 255, 255, 0.7);
}

.navBar-navLinks-container li a:hover {
  color: white;
}

.language {
  color: white;
  font-size: 12px;
}

.eng {
  margin-right: 10px;
}

.pt {
  margin-left: 10px;
}

.switch {
  position: relative;
  width: 44px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderGold {
  background-color: $goldColor !important;
}

.slider {
  width: 44px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 17px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

@media (min-height: 700px) {
  .navBar-container {
    height: 70px;
  }
}

@media (min-width: 1024px) {
  #hamburger {
    display: none;
  }

  .navBar-navLinks-container {
    left: 0;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
  }
  .navBar-items-container li {
    display: block;
  }
}

@media (min-width: 1280px) {
  .navBar-items-container {
    width: 1140px;
  }
}
