.sectionTitle {
  display: flex;
  align-items: center;
  font-size: 5vw;
  font-weight: 700;
  width: 90vw;
  max-width: 1124px;
}

.sectionTitle::before {
  content: "";
  width: 5px;
  height: 40px;
  margin-right: 10px;
  background-color: #bd8722;
}

.notCentralizedText {
  width: 90vw;
  max-width: 1124px;
}

@media (min-width: 1024px) {
  .sectionTitle {
    font-size: 64px;
  }
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
  margin: 0;
}

/* Set core root defaults */
html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-width: 300px;
  min-height: 500px;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  margin: 0 0 0 0;
  padding: 0;
  background-color: #1f3260;
  box-sizing: border-box;
  transition: scroll ease 1s;
  color: #fff;
}

/* A elements that don't have a class get default styles */
a {
  color: white;
  text-decoration: none;
  /* no underline */
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.navBar-container {
  background-color: #090909;
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 999;
}

.navBar-items-container {
  width: 90vw;
  z-index: 999;
  margin: auto;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBar-items-container li a {
  color: #fff;
  text-decoration: none;
  padding: 30px 0;
  font-size: 14px;
  font-weight: 600;
}

.blankSpace {
  display: flex;
  align-items: center;
}

.navBar-container img {
  height: 70%;
  transition: ease all 0.5s;
  transform: scale(0.98);
}

nav.stroke {
  display: flex;
  align-items: center;
}

nav ul li a {
  display: block;
  padding: 5px;
  text-decoration: none;
}

nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #aaa;
  height: 2px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}

nav.stroke ul li a:hover:after {
  width: 100%;
}

.navBar-items-container li {
  display: none;
}

.navBar-items-container a .navBar-items-container a:after .navBar-items-container a:before {
  transition: all 0.5s;
}

.navBar-container img:hover {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1);
}

.navBar-navLinks-container li a {
  color: rgba(255, 255, 255, 0.7);
}

.navBar-navLinks-container li a:hover {
  color: white;
}

.language {
  color: white;
  font-size: 12px;
}

.eng {
  margin-right: 10px;
}

.pt {
  margin-left: 10px;
}

.switch {
  position: relative;
  width: 44px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderGold {
  background-color: #bd8722 !important;
}

.slider {
  width: 44px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

@media (min-height: 700px) {
  .navBar-container {
    height: 70px;
  }
}
@media (min-width: 1024px) {
  #hamburger {
    display: none;
  }

  .navBar-navLinks-container {
    left: 0;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
  }

  .navBar-items-container li {
    display: block;
  }
}
@media (min-width: 1280px) {
  .navBar-items-container {
    width: 1140px;
  }
}
.mainSection-container {
  background-image: url("../assets/mainSection/mainBackground.jpg");
  height: 107vh;
  min-height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.fade {
  position: absolute;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(41, 41, 41, 0), rgba(31, 50, 96, 0.9) 30%, rgba(31, 50, 96, 0.9) 70%, rgba(41, 41, 41, 0) 100%);
  height: 40vh;
}

.mainSection-presentationTextContainer {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.mainSection-presentationTextContainer h3 {
  font-family: "Nothing You Could Do", cursive;
  font-size: 6vw;
  font-weight: lighter;
  color: #bd8722;
  line-height: 10px;
}

.mainSection-presentationTextContainer h1 {
  font-size: 8vw;
}

.mainSection-presentationTextContainer p {
  font-size: 3.5vw;
  margin-left: 2px;
  font-weight: 300;
  line-height: 10px;
}

.actionButton {
  position: absolute;
  bottom: 20px;
  width: 85vw;
  max-width: 400px;
  height: 50px;
  color: #fff;
  background-color: #121d31;
  border: 3px solid #bd8722;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.6s;
}

.actionButton:hover {
  background-color: #bd8722;
}

@media (min-width: 1024px) {
  .mainSection-container {
    min-height: 800px;
  }

  .fade {
    position: absolute;
    left: 0;
    background: linear-gradient(90deg, #14203d 30%, rgba(71, 71, 71, 0));
    width: 80vw;
    height: 107vh;
    min-height: 500px;
  }

  .mainSection-presentationTextContainer {
    width: 90vw;
    display: block;
  }

  .mainSection-presentationTextContainer h3 {
    font-size: 60px;
    line-height: 1px;
  }

  .mainSection-presentationTextContainer h1 {
    font-size: 86px;
  }

  .mainSection-presentationTextContainer p {
    font-size: 36px;
    margin-left: 2px;
    line-height: 0;
  }

  .actionButton {
    font-size: 18px;
    margin-top: 110px;
    position: unset;
    background-color: transparent;
  }
}
@media (min-width: 1280px) {
  .mainSection-container {
    background-position: center left 200px;
  }

  .mainSection-presentationTextContainer {
    width: 1124px;
  }
}
.whatIDo-container {
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 70px 0;
  flex-direction: column;
}

.description {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
}

.mySkills-container {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: 100%;
}

.myDeveloperSkills-container {
  display: grid;
  grid-template-columns: minmax(100px, 1124px);
  grid-template-rows: repeat(4, 50px);
  grid-row-gap: 10px;
  padding: 0;
  margin: 0 0 10px 0;
}

.skillDescription {
  font-size: 13px;
  font-weight: 400;
}

.skill-container {
  display: flex;
  color: white;
  align-items: center;
  background-color: #14203d;
  border-radius: 7px;
}

.iconContainer img {
  height: 30px;
  margin: 0 auto;
}

.skill-container p {
  margin: 0 0 0 10px;
}

.iconContainer {
  text-align: center;
  font-size: 26px;
  width: 60px;
  color: #abb2c3;
  font-weight: 700;
}

.myDesignerSkills-container {
  display: grid;
  grid-template-columns: minmax(100px, 1124px);
  grid-row-gap: 10px;
  padding: 10px 20px;
}

@media (min-width: 470px) {
  .skillDescription {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .whatIDo-container {
    padding: 100px 0;
  }

  .sectionTitle {
    font-size: 40px;
    margin: 0 10px;
  }

  .description {
    font-size: 20px;
  }

  .mySkills-container {
    grid-template-columns: 1fr 1fr;
  }
}

/*# sourceMappingURL=mainStyles.css.map */
