@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* SUMMARY (search for it on ctrl + F):
        -NavBar
        -MainSection
        -WhatIDo
        -AboutMe
        -Footer
*/

:root {
  --main-dark-color: #161618;
  --background-color: #ededed;
  --main-font: 'Inter', sans-serif;
  --main-clear-color: #fff;
}

html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  margin: 0 0 0 0;
  padding: 0;
  background-color: var(--background-color);
  box-sizing: border-box;
  transition: scroll ease 1s;
}

a {
  color: white;
  text-decoration: none; /* no underline */
}

:focus {
  outline: none;
}

.sectionTitle {
  color: var(--main-dark-color);
  font-size: 44px;
  font-weight: 800;
}

@media (min-width: 1024px) {
  .sectionTitle {
    font-size: 64px;
  }
}

/* ---------NavBar Style starts here--------------- */
.navBar-container {
  background-color: var(--main-dark-color);
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: background-color 0.5s;
}

.transparentNavBar {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7511379551820728) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.navBar-items-container {
  width: 90vw;
  height: 30px;
  display: flex;
  justify-content: space-between;
  z-index: 999;
}

.mobile-navLinks-container {
  width: 95vw;
}

.mobile-container {
  background-color: var(--main-dark-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 500px;
  border-radius: 5%;
  transition: margin ease 0.5s;
  margin-top: -500px;
  z-index: 600;
  position: fixed;
}
.navBar-items-container li a,
.mobile-container li a {
  color: #fff;
  text-decoration: none;
  padding: 30px 0;
  font-size: 1.3rem;
  font-weight: 600;
}

.backgroundBlur {
  position: absolute;
  margin-top: auto;
  left: 0;
  right: 0;
  z-index: 500;
  width: 100vw;
  margin: 0 auto;
  cursor: pointer;
  backdrop-filter: blur(5px);
  height: 1000vh;
}

.navBar-navLinks-container {
  display: none;
}

.blankSpace {
  display: none;
}

.navBar-logo-container {
  height: 100%;
}
.navBar-logo-container img {
  height: 90%;
  transition: ease all 0.5s;
  transform: scale(0.98);
}

.isActive {
  margin-top: 0;
  height: 50vh;
}

nav.stroke {
  display: flex;
  align-items: center;
}

nav ul li a {
  display: block;
  padding: 5px;
  text-decoration: none;
}

nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

.mobile-navLinks-container {
  margin-top: 80px;
}

.navBar-items-container li,
.mobile-container li {
  list-style-type: none;
}

.navBar-items-container
  a
  .navBar-items-container
  a:after
  .navBar-items-container
  a:before {
  transition: all 0.5s;
}

.navBar-logo-container img:hover {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1);
}

.navBar-navLinks-container li a {
  color: rgba(255, 255, 255, 0.7);
}

.navBar-navLinks-container li a:hover {
  color: white;
}

.language {
  color: white;
  font-size: 12px;
}

.mobile-blankSpace {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.eng {
  margin-right: 10px;
}

.pt {
  margin-left: 10px;
}

.switch {
  position: relative;
  width: 44px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  width: 44px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 17px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

@media (min-height: 700px) {
  .navBar-container {
    height: 100px;
  }
}

@media (min-width: 470px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .navBar-items-container {
    margin: auto;
    width: 90vw;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #hamburger {
    display: none;
  }

  .navBar-navLinks-container {
    left: 0;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
  }

  .navBar-navLinks-container li a {
    font-size: 1rem;
  }

  .mobile-container {
    display: none;
  }

  .blankSpace {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1280px) {
  .navBar-items-container {
    width: 1124px;
  }
}
/* ---------Nav Bar Style ends here--------------- */

/*-------------------------------------------------*/

/* ------MainSection Style start here----------- */

.mainSection-container {
  background-image: url('./assets/mainBackground.png');
  height: 107vh;
  min-height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.mainSection-presentationTextContainer {
  width: 85vw;
  line-height: 10px;
}

.mainSection-presentationTextContainer img {
  position: absolute;
  width: 200px;
  margin-top: -70px;
  margin-left: -20px;
}

.mainSection-presentationTextContainer h1 {
  font-size: 28px;
}

.mainSection-presentationTextContainer p {
  font-size: 12px;
  margin-left: 2px;
  font-weight: 500;
}

.learnMore-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 10px;
  cursor: pointer;
  transition: all ease 0.5s;
  opacity: 0.8;
}
.learnMore-container p {
  font-size: 15px;
  margin: 6px;
}
.learnMore-container img {
  width: 30px;
  height: 25px;
}

.learnMore-container:hover {
  opacity: 1;
}

@media (min-width: 470px) {
  .mainSection-presentationTextContainer h1 {
    font-size: 46px;
  }
  .mainSection-presentationTextContainer p {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .mainSection-container {
    min-height: 800px;
    background-size: cover;
  }

  .mainSection-presentationTextContainer {
    width: 90vw;
  }

  .mainSection-presentationTextContainer img {
    margin-top: -70px;
    width: 300px;
    margin-left: -70px;
  }

  .mainSection-presentationTextContainer h1 {
    font-size: 86px;
  }

  .mainSection-presentationTextContainer p {
    font-size: 36px;
    margin-left: 2px;
    font-weight: 500;
  }
}

@media (min-width: 1280px) {
  .mainSection-presentationTextContainer {
    width: 1124px;
  }
}

/* ------MainSection Style ends here--------------- */

/*-------------------------------------------------*/

/* ------ WhatIDo Style start here---------------- */

.whatIDo-container {
  width: 100vw;
  display: flex;
  align-items: center;
  margin-top: 100px;
  flex-direction: column;
}

.Title-container {
  width: 90vw;
  max-width: 1124px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.sectionTitle {
  display: flex;
  justify-content: flex-start;
  font-size: 28px;
}

.titleLine {
  height: 10px;
  background: #fff;
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
}

#rightTitleLine {
  display: none;
}

.mySkills-container {
  margin-top: 20px;
  width: 90vw;
  max-width: 1124px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 100%;
  background: #ffffff;
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.myDeveloperSkills-container {
  display: grid;
  grid-template-columns: minmax(100px, 1124px);
  grid-template-rows: 70px repeat(5, 50px);
  grid-row-gap: 10px;
  padding: 10px 20px;
}

.myDeveloperSkills-container p {
  font-size: 13px;
  font-weight: 600;
}

.skill-container {
  display: flex;
  color: white;
  align-items: center;
  background-color: var(--main-dark-color);
  background: #2f2f2f;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.skill-container img {
  height: 100%;
}

.skill-container p {
  margin: 0 10px;
}

.myDesignerSkills-container {
  display: grid;
  grid-template-columns: minmax(100px, 1124px);
  grid-row-gap: 10px;
  padding: 10px 20px;
}

@media (min-width: 470px) {
  .Title-container {
    grid-template-columns: 1fr 1fr;
  }
  .myDeveloperSkills-container p {
    font-size: 18px;
  }
}

@media (min-width: 600px) {
  .Title-container {
    grid-template-columns: 1fr 2fr;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  #rightTitleLine {
    display: block;
  }
  .Title-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .sectionTitle {
    justify-content: center;
    font-size: 40px;
    margin: 0 10px;
  }
  .mySkills-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1280px) {
}

/* ------ WhatIDo Style ends here---------------- */

/*-------------------------------------------------*/

/* ------ AboutMe Style start here---------------- */

.AboutMe-container {
  width: 100vw;
  display: flex;
  align-items: center;
  margin-top: 60px;
  flex-direction: column;
}

.aboutMeItems-container {
  width: 90vw;
  max-width: 1124px;
  margin-top: 20px;
  background-color: var(--main-clear-color);
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 500px auto;

  background: #ffffff;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.aboutMe-photo {
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url('./assets/aboutMe/aboutMe-photo.png');
  background-position: center;
  background-size: cover;
}

.aboutMe-presentationText {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 6px;
  line-height: 25px;
  font-size: 16px;
  padding: 30px 20px;
}

.aboutMe-presentationText p {
  margin: 0;
}

@media (min-width: 470px) {
}

@media (min-width: 600px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .AboutMe-container {
    margin-top: 120px;
  }
  .aboutMeItems-container {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }
  .aboutMe-presentationText {
    grid-gap: 10px;
    line-height: 35px;
    font-size: 20px;
    padding: 20px 40px;
  }
}

@media (min-width: 1280px) {
}

/* ------ AboutMe Style ends here---------------- */

/*-------------------------------------------------*/

/* ------ MyPortifolio Style start here---------------- */

.myPortifolio-container {
  width: 100vw;
  display: flex;
  align-items: center;
  margin-top: 120px;
  flex-direction: column;
}

.projects-container {
  width: 90vw;
  max-width: 1124px;
  display: grid;
  grid-gap: 50px;
  margin-top: 20px;
}

.projectBox {
  width: 100%;
  height: 470px;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
  transition: all ease 0.8s;
}

.projectImage {
  background-color: white;
}

.projectDescription-container {
  background-color: var(--main-clear-color);
}

#netflixCloneImage {
  background-image: url('./assets/myPortifolio/Netflix\ Clone\ Thumnail.png');
  background-position: center;
  background-size: cover;
}

@media (min-width: 1024px) {
  .projects-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .projectBox:hover {
    scale: 1.05;
  }
}
/* ------ MyPortifolio Style ends here---------------- */

/*-------------------------------------------------*/

/* ------ Footer Style start here---------------- */

.footer-container {
  width: 100vw;
  height: 70px;
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-dark-color);
}

.links-container {
  width: 95vw;
  max-width: 600px;
  height: 30px;
  display: flex;
  justify-content: space-around;
}

.link-container img {
  height: 30px;
  scale: 0.9;
}

.links-container img:hover {
  scale: 1;
  cursor: pointer;
}
